<form action="/course/add" method="POST">
<p>
    <label>course Name</label><input value="" name="courseName"/><br>
    <label>course Duration</label><input value="" name="courseDuration"/><br>
    <label>course Fees</label><input value="" name="courseFees"/><br>
    <button type="submit">Add course</button>
</p>
</form>