<h1>
    Courses
</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    {{#each data}}
     <tr>
        <td>{{this.courseID}}</td>
        <th>{{this.courseName}}</th>
    </tr>
    {{/each}}
</table>